.container{
width: 1170px;
}
.header{
background-color: #f5f7fa;
height: 40px;
padding-top: 15px
}

.nav{
background-color: #fff;
height: 112px;
}
.main{
background: url(./../img/image_1.jpg);
height: 880px;
}

.email:before{
    content:url(./../img/icons/icon-mail-1.png);
    padding-right: 8px;
}
.email{
font: 400 12px 'Source Sans Pro';
color: #506a85;
}

.phone:before{
    content:url(./../img/icons/icon-mobile.png);
    padding-right: 8px;
}
.phone{
font: 400 12px 'Source Sans Pro';
color: #506a85;
}
